[submodule "backend"]
	path = backend
	url = https://github.com/MahrezBH/mcm-backend.git

[submodule "playbooks"]
	path = playbooks
	url = https://github.com/MahrezBH/mcm-playbooks.git

[submodule "frontend"]
	path = frontend
	url = https://github.com/MahrezBH/mcm-frontend.git

[submodule "report"]
	path = report
	url = https://github.com/MahrezBH/mcm-report.git