[submodule "backend"]
	path = backend
	url = https://github.com/MahrezBH/mcm-backend.git

[submodule "playbook"]
	path = playbook
	url = https://github.com/MahrezBH/mcm-playbook.git

[submodule "frontend"]
	path = frontend
	url = https://github.com/MahrezBH/mcm-frontend.git
